services:
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile.dev
    volumes:
      - ../backend:/app
    env_file:
      - ../.env
    ports:
      - "8000:8000"
    depends_on:
      - db

  webapp:
    build:
      context: ../webapp
      dockerfile: Dockerfile.dev
    volumes:
      - ../webapp:/app
    ports:
      - "5173:5173"

  nginx:
    image: nginx:alpine
    volumes:
      - ../nginx/dev/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - backend
      - webapp

  ngrok:
    image: ngrok/ngrok:latest
    container_name: webappbot_ngrok
    volumes:
      - ../ngrok/ngrok.yml:/etc/ngrok.yml
    command: ["start", "--all", "--config", "/etc/ngrok.yml"]
    ports:
      - "4040:4040"
    depends_on:
      - nginx


  db:
    image: postgres:16-alpine
    env_file:
      - ../.env
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: webappbot_redis
    command: redis-server --appendonly yes
    volumes:
      - redisdata:/data


volumes:
  pgdata:
  redisdata: